/* src/index.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.house {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.house h3 {
  margin: 0;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

.App-button {
  background-color: #61dafb; /* var(--secondary-color) */
  color: #ffffff; /* var(--text-color) */
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* var(--shadow-color) */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.App-button:hover {
  background-color: #4fa1d0; /* darken(var(--secondary-color), 10%) */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* var(--shadow-color) */
}

.App-button:active {
  background-color: #3b89a6; /* darken(var(--secondary-color), 20%) */
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* var(--shadow-color) */
}
