/* src/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .house {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .house:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .house h3 {
    margin: 0;
  }
  
  button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  .App-button {
    background-color: #61dafb; /* var(--secondary-color) */
    color: #ffffff; /* var(--text-color) */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* var(--shadow-color) */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  }
  
  .App-button:hover {
    background-color: #4fa1d0; /* darken(var(--secondary-color), 10%) */
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* var(--shadow-color) */
  }
  
  .App-button:active {
    background-color: #3b89a6; /* darken(var(--secondary-color), 20%) */
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* var(--shadow-color) */
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  